@using TreatShop.ViewModels

@model LoginViewModel

<div id="delete-modal" class="modal obscured">
  <div class="modal-message">Log in</div>
  <div class="button-area">
  @if(!ViewData.ModelState.IsValid) 
  {
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
  }

  @using (Html.BeginForm("Index", "Home"))
  {
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)

    <button class="green" type="submit">Log in</button>
  }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete')">Cancel</button>
  </div>
</div>

<header>
  <h1>Pierre's Sweet and Savory Treats</h1>
</header>