@{
  Layout = "_Layout";
}

@using TreatShop.Models
@model Treat

<div id="delete-treat-modal" class="modal delete-modal obscured">
  <div class="modal-message">
    <div>Are you sure you want to delete</div>
    <div class="highlighted">@Html.DisplayFor(model => model.Name)?</div>
  </div>
  <div class="button-area">
    @using (Html.BeginForm("Delete", "Treats", new { id = @Model.TreatId }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete-treat')">Cancel</button>
  </div>
</div>

<h2>Treat Details for <span class="highlighted">@Html.DisplayFor(model => model.Name)</span></h2>

<h3>Flavors</h3>
<ul class="treat-list">
  @foreach(FlavorTreat join in Model.JoinEntities) {
    <li>
      <div>
        @join.Flavor.Name
      </div>
    </li>
    @* @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      <input type="submit" value="Delete"/>
    } *@
  }
</ul>

@* <a href='@Url.Action("AddFlavor", new { id = Model.FlavorId })'>
  <button>Add a Flavor</button>
</a> *@

@* <a href='@Url.Action("Edit", new { id = Model.FlavorId })'>
  <button class="yellow">Edit Flavor</button>
</a> *@
@* <a href='@Url.Action("Delete", new { id = Model.FlavorId })'>
  <button class="red">Delete Flavor</button>
</a> *@
<a href='@Url.Action("Index", "Home")'>
  <button>Back</button>
</a>
<button onclick="showModal('delete-treat')" class="red">Delete</button>
