@{
  Layout = "_Layout";
}

@using TreatShop.Models;

  <h3>Treats</h3>
  @if (ViewBag.Treats.Count == 0) {
    <div class="empty-list-message">No Treats have been added yet!</div>
  }
  <ul class="result-list treat">
    @foreach (var treat in ViewBag.Treats) {
      <a href='@Url.Action("Details", "Treats", new { id = treat.TreatId })'>
        <li class="detail-link">
          <div>@treat.Name</div>
        </li>
      </a>
    }
  </ul>

  <h3>Flavors</h3>
  @if (ViewBag.Flavors.Count == 0) {
    <div class="empty-list-message">No Flavors have been added yet!</div>
  }
  <ul class="result-list flavor">
    @foreach (var flavor in ViewBag.Flavors) {
      <a href='@Url.Action("Details", "Flavors", new { id = flavor.FlavorId })'>
        <li class="detail-link">
          <div>@flavor.Name</div>
        </li>
      </a>
    }
  </ul>

  <div class="home-footer">
  @if (User.Identity.IsAuthenticated)
  {
    @await Html.PartialAsync("CreateTreatModal")
    @await Html.PartialAsync("CreateFlavorModal")
    <div class="button-area">
      <button class="treat" onclick="showModal('create-treat')">Create a Treat</button>
      <button class="flavor" onclick="showModal('create-flavor')">Create a Flavor</button>
    </div>
  }
  else
  {
    <p class="not-logged-in-message">Please <a href='@Url.Action("Index", "Account")'>log in</a> to add or delete treats and flavors.</p>
  }
  </div>